---
---

{% include_relative modules.css %}
{% include_relative grid.css %}
{% include_relative type.css %}
{% include_relative theme.css %}
{% pattern_css %}

.home-intro {
  max-width: 30em;
  margin: 0 auto;
  font-family: "Lora", serif;
}

.project-card {
  width: 100%;
  margin-bottom: 1em;
}

.project-card a {
  text-decoration: none;
}

.case-study-text {
  text-transform: uppercase;
  letter-spacing: 3px;
}

.dog-background {
  background-color: #bed7e8;
  background-position: left bottom;
  transition: all .3s ease-in-out;
}

.next-project-smiles:hover {
  background-color: #d0ecff;
  background-position: left bottom;
  transition: all .3s ease-in-out;

.portfolio-title {
  line-height: 1;
  font-family: "Lora", serif;
}

.project-descrip {
  font-family: "Lora", serif;
}

.wrap {
  margin-left: auto;
  margin-right: auto;
  max-width: 60em;
  width: 100%;
}

.my-padding {
  padding-top: 6.5rem;
  padding-bottom: 6.5rem;
}

.my-padding-bottom {
  padding-bottom: 6.5rem;
}

.my-max-length {
  margin-left: auto;
  margin-right: auto;
  max-width: 28em;
  width: 100%;
}

.detail-title {
  font-family: "Spartan", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}

h2 {
  font-family: "Lora", serif;
}

p {
  font-family: "Spartan", sans-serif;
}

.navy {
  color: #2c365a;
}

.gray {
  color: #383838;
}

.gray-background {
  background-color: #f7f7f7;
}

.next-project {
  width: 100%;
}

.no-decoration {
  text-decoration: none;
}

.next-project-smiles {
  background-color: #bed7e8;
  background-size: 200% 100%;
  background-position: left bottom;
  transition: all .3s ease-in-out;
}

.next-project-smiles:hover {
  background-color: #eee2f0;
  background-size: 200% 100%;
  background-position: left bottom;
  transition: all .3s ease-in-out;
}

.ib {
  display: inline-block;
}

.view-next{
  font-family: "Spartan", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.case-study-smiles {
  background-color: #bed7e8;
}

.tags {
  font-family: "Spartan", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.header-sm {
  font-family: "Spartan", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: .3em;
}

.banner-links {
  margin: 0 1rem 0 0;
}

.home-banner {
  background-color: #f7f7f7;
}

@media only screen and (min-width: 60em) {

  .step2 {
    padding-top: 0;
  }

  .insight {
    padding-top: 0;
  }
}
