:root {
  --color-primary: #b7d0d9;
  --color-secondary-light: #fff;
  --color-secondary-dark: #000;
  --color-accent: #f1bd8e;
  --color-neutral-light: #c6beb3;
  --color-neutral-dark: #c6a792;

  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Playfair Display", serif;
}

html {
  font-family: var(--font-primary);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-accent);
}
