.basic-btn {
  background-color: var(--color-neutral-light);
  border-color: var(--color-neutral-light);
  color: var(--color-secondary-light);
  border-radius: 0;
  text-decoration: none;
}

.btn:hover {
  background-color: var(--color-secondary-light);
  border-color: var(--color-secondary-light);
  color: var(--color-primary);
}

.btn-ghost {
  background-color: transparent;
  border-color: var(--color-accent);
  color: var(--color-accent);
  border-radius: 0;
  text-decoration: none;
}

.btn-ghost:hover {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
  color: var(--color-secondary-light);
}

.logo {
  width: 10%;
}

.video {
  width: 50%;
}

.long-btn {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
  color: var(--color-secondary-light);
  border-radius: 0;
  text-decoration: none;
  padding-left: 4em;
  padding-right: 4em;
}

.long-btn:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}



.small-btn {
  background-color: var(--color-neutral-dark);
  color: var(--color-secondary-dark);
  padding: .5em 1em;
  border: none;
  outline: none;
  position: relative;
}

.btn.small-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: var(--color-neutral-light);
  transition: transform 300ms ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.btn.small-btn {
  z-index: 1;
}

.btn.small-btn:hover::before,
.btn.small-btn:focus::before {
  transform: scaleX(1);
}

section {
  display: block;
}

.next-project {
  text-decoration: none;
  color: var(--color-secondary-dark);
  background-color: var(--color-accent);
}

.green-project {
  background-color: var(--color-neutral-dark);
}
