.basic-btn {
  background-color: var(--color-neutral-light);
  border-color: var(--color-neutral-light);
  color: var(--color-secondary-light);
  border-radius: 0;
  text-decoration: none;
}

.btn:hover {
  background-color: var(--color-secondary-light);
  border-color: var(--color-neutral-light);
}

.btn-ghost {
  background-color: transparent;
  border-color: var(--color-accent);
  color: var(--color-accent);
  border-radius: 0;
  text-decoration: none;
}

.btn-ghost:hover {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
  color: var(--color-secondary-light);
}

.logo {
  width: 10%;
}

.video {
  width: 50%;
}

.long-btn {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
  color: var(--color-secondary-light);
  border-radius: 0;
  text-decoration: none;
  padding-left: 4em;
  padding-right: 4em;
}

.long-btn:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}
