.home-button {
  position: absolute;
  width: 50%;
  top: 1.5em;
  left: 1.5em;
}

.banner-img {
  position: relative;
}

.main-background {
  background-color: #f7f7f7;
}

.nav-links {
  font-family: "Spartan", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.my-name {
  font-family: "Lora", serif;
}

.smiles-background {
  background-color: #bed7e8;
}

.my-padding-nav {
  padding-top: 1.5rem;
  padding-bottom: 3.5rem;
}
