.about-me-img {
  width: 80%;
}

h3 {
  color: var(--color-accent);
}

p {
  font-family: var(--font-secondary);
}

.section-banner {
  position: absolute;
  width: 100%;
}

.button {
  position: relative;
  top: -12em;
}

.nav-container {
  display: inline-block;
}
