.about-me-img {
  width: 80%;
}

h3 {
  color: var(--color-accent);
}

p {
  font-family: var(--font-secondary);
}

.nav-container {
  display: inline-block;
}

.section-banner{
  position: relative;
}

.section-banner h4 {
  position: absolute;
  top: 2.5em;
  left: 6.5em;
  color: var(--color-secondary-light);
}
