.hover-box {
  color: var(--color-secondary-light);
}

.hover-box-caption {
  bottom: -4em;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));
  text-shadow: 1px 1px 5px rgba(0, 0, 0, .9);
  transition: all .2s linear;
}

.hover-box:hover .hover-box-caption {
  bottom: 0;
}

.hover-box-img {
  filter: grayscale(100%);
  transition: all .2s linear;
}

.hover-box:hover .hover-box-img {
  filter: grayscale(0);
  transition: all .2s linear;
}

.text-colour {
  color: var(--color-secondary-light);
}

.web-bg {
  background-color: var(--color-accent);
}

.project-card {
  width: 100%;
  transition: all .2s ease-in-out;
  margin-bottom: 1em;
  background-color: #bed7e8;
}

.project-title {
  text-decoration: none;
  color: #393939;
}

.web-text {
  text-decoration: none;
  color: #393939;
}

.cs-text {
  text-decoration: none;
  color: #393939;
}

a p {
  text-decoration: none;
}
