<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Natacha Dubois • Web</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="/css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lora&family=Spartan&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="icon" type="image/png" href="favicon-196.png">
</head>
<body>
  <ul class="skip-links hidden">
    <li>
      <a href="#nav">Jump to nav</a>
    </li>
    <li>
      <a href="#main">Jump to main</a>
    </li>
    <li>
      <a href="#content">Jump to content</a>
    </li>
    <li>
      <a href="#moodboard">Jump to moodboard</a>
    </li>
    <li>
      <a href="#patternlibrary">Jump to pattern library</a>
    </li>
    <li>
      <a href="#final">Jump to final result</a>
    </li>
    <li>
      <a href="#footer">Jump to footer</a>
    </li>
  </ul>

  {% pattern headers/web-banner %}
  {{content}}
  {% pattern footer/footer %}

</body>
</html>
