<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Natacha Dubois • Web</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="/css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i" rel="stylesheet">
  <link rel="shortcut icon" href="images/favicon.ico">
</head>
<body>

{% pattern headers/web-banner %}
{% pattern navigation/web-nav %}
<h2>Ottawa Dog Rescue</h2>
<div class="grid">
  <div class="unit xs-1 s-1 m-1-2 l-1-2">
    <h4>Goal</h4>
    <p>Completely re-design an animal rescue website that I found online that’s not currently designed very well.</p>
  </div>
  <div class="unit xs-1 s-1 m-1-2 l-1-2">
    <h4>Insight</h4>
    <p>My goal was for the website to be easy for the users to follow. I wanted to keep it very simple but still carry the information that is necessary without feeling overwhelmed.</p>
  </div>

{% pattern sections/section-banner %}
{% pattern sections/about-me %}
{% pattern footer/footer %}
</body>
</html>
